.outlined-text {
    color:transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
  }

#search-results li:hover {
    color: orange;
    cursor:pointer;
}

/* for potential 'markdown' tables */
table,th,td{
  border-collapse: collapse;
  /* border: 1px solid !important; */
}
th, td:not(tbody td:first-child) {
  text-align: center;
}
th,td {
  padding: 0.5ch;
  border-bottom: 1px solid !important;
}
tr:hover:not(thead tr) {
  background-color: rgba(255, 166, 0, 0.7);
  color:#000 !important;
}